# Default ignored files
/shelf/
/workspace.xml

# Исключаем виртуальное окружение
.venv/*
__pycache__/
*.pyc
*.pyo

# Исключаем базу данных SQLite (если используешь)
test.db

# Лог-файлы
*.log

# Загруженные изображения (Render создаст их сам)
uploaded_images/

# Миграции Alembic
alembic/versions/*